<section class="footer">
  <div class="container  " style="width: 100%;">
  
    <footer class="text-white text-center text-lg-start " style="width: 100%;">
      <!-- Grid container -->
      <div class="container p-3" style="width: 100%;">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">`
            <h3 class="text-uppercase mb-4">About Baby Fashion</h3>
          
            <p>
              Baby Fashions was founded in the year 1997 and a part of Al Darmaki Group of Companies.
            We sell ready made wears of famous branded names  imported from Italy
             directly from suppliers such as Roberto Cavalli, Dolce & Gabbana, Versace, Emilio Pucci, Elie Saab,
             Cafs, Moschino, MonnalisaAletta, Bugatti, Bikkemberg & Aigner.
            </p>
            <p>
           
              Baby Fashions deals with Baby dresses both male & female, sizes starting from new born to 16 yrs old,
              Additional to the Baby  ready wears are Sleeping bags, Baby bags,
               Back pack bags,  blankets, Shoes, Sandals, Socks & Stockings,
           
              Baby Fashions is one of the well known retailer  of famous brands & good quality of clothing.
            </p>
         
          
          </div> 
        
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h3 class="text-uppercase mb-4 pb-1">Contact Us</h3>
  
            <!-- <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg" />
              <label class="form-label" for="formControlLg">Search</label>
            </div> -->
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Al rawdah- w69 -abu Dhabi</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Fashionsbaby756@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">
                  00971561906565<br>00971585821097 

                </span>
              </li>
            </ul>
            <div class="mt-4">
               <!-- Facebook -->
               <a type="button" class="btn btn-floating btn-light btn-lg  m-3"  href=""><i class="fab fa-facebook-f"></i></a>
                <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light btn-lg m-3" href=""><i class="fab fa-instagram"></i></a> 
              <a type="button" class="btn btn-floating btn-light btn-lg  m-3"  href="https://goo.gl/maps/8D3n3LCPzL71J35m7"><i class="fas fa-map-marker-alt"></i></a> 
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h3 class="text-uppercase mb-4">Opening hours</h3>
  
            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Sat:</td>
                  <td>9am - 9pm</td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <!-- <div class="text-center p-3 " >
        © 2022 Copyright: BABY FASHION
        
      </div> -->
      <!-- Copyright -->
    </footer>
  
  </div>
  </section>
  <!-- End of .container -->