<div class="container mt-5">
    <h4>Internal server error - refreshing the page will make the exceprion disapear</h4>
   <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: if you are seeing this then Angular is probably not responsible</p>
    <p>What to do next</p>
    <ol>
        <li>Open chrome dev tools</li>
        <li>Incpect netwoek tap</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure this is correct</li>
        <li>Repreduce the error in postman- if we the same response in postman, then the issue is not in angular</li>
    </ol>
    <p>Following is the stack trace this is where your in vestigation should start!</p>
    <code class="mt-5 mb-10" style="background-color: whitesmoke;">{{error.details}}</code>
   </ng-container>
</div>