<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let step of steps;let i = index">
            <button class="nav-link py-3 text-uppercase font-weight-bold btn-block"
                [class.active]="selectedIndex === i"
                (click)="onClick(i)">
                {{step.label}}
                <span *ngIf="step.completed == false" style="color:red;font-size: 18px;font-weight: bold">*</span>
            </button>
        </li>
    </ul>
    <div>
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
 </div>