@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";
@import "../node_modules/ngx-toastr/toastr.css";

body {
  font-size: 14px;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}

a {
  color: #e95420;
  text-decoration: none;
}
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
